/* logo_footer */

position: absolute;
width: 82px;
height: 52px;
left: 220px;
top: 14px;

/* header */

position: absolute;
width: 1600px;
height: 80px;
left: 0px;
top: 0px;

background: #000000;
backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */


